
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body{

    max-width: 1440px;
    min-width: 375px;
    background-color: hsl(225, 100%, 98%);
    padding: 0%;
    margin: 0%;
}


.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color:white;
    box-shadow:0 3px 5px rgba(0,0,0.2);
    border-radius: 20px;
    max-height:630px;
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
}
p {
    text-align: center;
}
.text-satu{
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    
}
.text-dua{
    padding-left: 25px;
    padding-right: 25px;
    text-align:center;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    text-align: justify;
}

.text-box{
    display: flex;
    justify-content: center;
    padding:10px;
    margin-left: 20px;
    background-color:hsl(225, 100%, 98%);
    max-width: 300px;
    border-radius: 15px;
}
.text-box1{
    font-size: 12px;
    margin-top:7px;
}
.text-box1 .judul{
    font-weight: 700;
}

.music-logo{
margin-left: 10px;
margin-right:10px;
}
img .music-icon{
    border-radius: 100px;
    padding: 0%;
    margin: 0%;
}

.change{
    display: flex;
    font-family:'Red Hat Display', sans-serif;
    font-weight: 700;
    margin-left: 60px;
    padding: 10px;
}

.btn{
margin-top: 30px;
background-color:hsl(245, 75%, 52%);
text-align: center;
width: 300px;
color: white;
padding: 10px;
border-radius: 10px;
font-weight:700;
font-family: 'Red Hat Display', sans-serif; 
box-shadow:0 7px 10px rgba(0,0,0.2);
}
.cancel-button{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color:grey;

}













